.ordersContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.order {
  display: flex;
  flex-direction: column;
}

.orderDetails {
  display: flex;
  justify-content: space-between;
}
